body {
	margin: auto;
    overflow: hidden;
}
rect {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	stroke-opacity: 0.2;
}

svg {
	cursor: pointer;
}

.panel {
	position: fixed;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 8px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	cursor: default;
}

#instructions_panel {
	top: 20px;
	left: 20px;
	width: 550px;
}

#hide_instructions {
	position: absolute;
	right: 25px;
	top: 10px;
	font-size: 90%;
	cursor: pointer;
}

#instructions_panel {
	top: 20px;
	left: 20px;
	width: 550px;
}

.header_title {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: -10px;
}