body {
	margin: auto;
    overflow: hidden;
}
rect {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	stroke-opacity: 0.2;
}

svg {
	cursor: pointer;
}

.dashboard {
	position: fixed;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 8px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	cursor: default;
}

#instructions_dashboard {
	top: 20px;
	right: 20px;
	width: 300px;
}

.helper {
	float: right;
	cursor: pointer;
}

#accordion_dashboard {
	top: 160px;
	right: 20px;
	width: 505px;
}

#hide_dashboard {
	cursor: pointer;
	float: left;
    font-size: 50px;
    margin-top: -30px;
}

#button_dashboard {
	top: 20px;
	right: 20px;
	width: 200px;
	text-align: center;
}

.header_title {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: -10px;
}

.ghost-patern {
	position: absolute;
	pointer-events: none;
}

button {
	border: none;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	font-size: 90%;
	cursor: pointer;
	padding: 2px 8px;
	margin: 0 2%;
	width: 31%;
	min-height: 40px;
	margin: 2px;
}

button:hover {
	border: none;
	background: rgba(255, 255, 255, 0.9);
}

button:focus, input:focus {
	outline: 0;
}

.speed_button {
	width: 46%;
	background: rgba(0, 0, 0, 0) !important;
	display: inline-flex;
}

.speed_button > p {
	margin-left: 5px;
}

input {
	height: 30px;
	border-radius: 5px;
	text-align: center;
	float: left;
	height: 43px;
}

#new-map {
	margin-left: 50px;
}

h3 {
	background: rgba(0, 0, 0, 0.5) !important;
	border: none !important;
	color: white !important;
}

div {
	background: rgba(0, 0, 0, 0.3) !important;
	border: none !important;
	color: white !important;
	text-align: center;
}

.ui-tooltip, .ui-tooltip-content {
	background: white !important;
	color: black !important;
}

.border {
	padding:10px;
	width: 27%;
	display: inline-block;
}

.error {
	text-align: center;
}